<div class='header-title'>
  <h1>Create an Account</h1>
</div>
<section class='login-box'>

  <%= form_for @user, url: signup_path do |form| %>
    <% @user.errors.full_messages.each do |msg| %>
       <li> <%= msg %></li>
    <% end %>
  
    <div>
      <%= form.text_field :username, placeholder: 'Username', required: true %>
    </div>
    <div>
      <%= form.text_field :first_name, placeholder: 'First name', required: true %>
    </div>
    <div>
      <%= form.text_field :last_name, placeholder: 'Surname', required: true %>
    </div>
    <div>
      <%= form.password_field :password, placeholder: 'Password', required: true %>
    </div>
    <div>
      <%= form.password_field :password_confirmation, placeholder: 'Confirm Password', required: true %>
    </div>
    <div>
      <%= form.text_field :email, placeholder: 'suckerberg@acebook.com', required: true %>
    </div>
    <div>
      <%= form.text_field :email_confirmation, placeholder: 'suckerberg@acebook.com', required: true %>
    </div>
    <div>
      <%= form.label :pronouns, " Select your pronouns" %><br>
      <%= form.select :pronouns, [" ", "he/him","she/her","they/them","other"], required: true, :class => 'sml-button' %>
    </div>
    <div>
      <%= form.text_area :bio, placeholder: 'Your personal Bio... ', required: true, :class => 'textarea' %>
    </div>
    <div>
      <%= form.label :profile_image, 'Upload profile picture', class: 'some-file-button' %><br>
      <span style="display:none">
        <%= form.file_field :profile_image %>
      </span>
    </div>
    <div >
      <%= form.submit class: 'submit-button' %>
    </div>
  <% end %>
  <div>
    <p id='center'>Already have an account?</p>
    <%= button_to "Log In", login_path, :class => 'sml-button' %>
  </div>
</section>

