<div class='header-title'>
  <h1>Enter User Details</h1>
</div>
<section class='login-box'>

  <%# <h1>Create new account</h1> %>
  <%# <h1>Enter User Details</h1> %>

  <%= form_for @user, url: signup_path do |form| %>
    <% @user.errors.full_messages.each do |msg| %>
       <li> <%= msg %></li>
    <% end %>
  
    <div>
      <%= form.text_field :username, placeholder: 'Username', required: true %>
    </div>
    <div>
      <%= form.text_field :first_name, placeholder: 'First name', required: true %>
    </div>
    <div>
      <%= form.text_field :last_name, placeholder: 'Surname', required: true %>
    </div>
    <div>
      <%= form.password_field :password, placeholder: 'Password', required: true %>
    </div>
    <div>
      <%= form.password_field :password_confirmation, placeholder: 'Confirm Password', required: true %>
    </div>
    <div>
      <%= form.text_field :email, placeholder: 'suckerberg@acebook.com', required: true %>
    </div>
    <div>
      <%= form.text_field :email_confirmation, placeholder: 'suckerberg@acebook.com', required: true %>
    </div>
    <div>
      <%= form.label :profile_image, 'Upload profile picture' %>
      <%= form.file_field :profile_image, class: 'some-file-button' %>
    </div>
    <div >
      <%= form.submit class: 'submit-button' %>
    </div>
  <% end %>

  <div>
    Already have an account? <%= link_to "Login", login_path%>
  </div>


