<section class='feed-post-box'>
  <div class='field-panorama'>
    <%= image_tag(user_avatar(current_user.id), :class => 'profile-square')%>
  </div>
  <section class='profile-details'>
    <%# <%= image_tag(user_avatar(current_user.id), :class => 'profile-square')%>
    <h1 id='center-margin'><%= current_user.first_name + " " + current_user.last_name + " (" + current_user.pronouns %>)</h1>
    <section id='create_note_box'>
      <p>Your User: <%= current_user.username%>
      <p>Your Email: <%= current_user.email%>
      <p>Acebook member since: <%= time_ago_in_words(current_user.created_at) %>
    </section>
    <section id='list_note_box'>
      <%= emojify(current_user.bio) %>
    </section>

  </section>
  <% @user_feed.each do |post| %>
    <section class='feed-post-box'>
      <div>
        <h3>
          <%= image_tag(user_avatar(post.user_id), :class => 'profile-img' ) %>
          <%= User.find(post.user_id).username %>
        </h3>
          <h6 id='time'>Posted <%= time_ago_in_words(post.created_at) %></h6>
      </div>
      <hr id='post-hr'>
      <%= emojify(post.message) %>
      <%= image_tag((post.post_image), :class => 'post-img' ) if post.post_image.attached? %>
        <div class='comment-box'>
          <div id='post-likes'>
        
            <%= image_tag('JF-Queen-Heart.png', :class => 'post-heart') %>

            <span id=<%="likes_#{post.id}" %> class='post-♥️'>
              <% if post.likes >= 0 %>
                <p id='heart-the-post'>♥️<%= post.likes %></p>
              <% else %>
                <p id='heart-the-post'>💔<%= post.likes %></p>
              <% end %>
            </span>
            <p id='comment-count-profile'>Kommennts 💬 <%= post.comments.count %></p>
            <%= image_tag('JF-King-Heart.jpeg', :onclick => "myFunction()", :class => 'post-K-profile')%>
          </div> 
        </div>
        <div id='hiddendiv'>
          <strong>Recent Komments on your post</strong><br>
          <% ('if comments are empty ask didplay no comments yer') %>
          <% post.comments.each do |comment| %>
         
          <%= image_tag(user_avatar(comment.user_id), :class => 'profile-img-comment') %>
          <div id='comment-message'>
            <%= emojify(comment.message) %>
            
          </div>
          <div id='comment-♥️'>
            <p id='time-com'>Posted <%= time_ago_in_words(comment.created_at) %></p>
            <% if post.likes >= 0 %>
              <p id='post-♥️'>♥️<%= comment.likes %></p>
            <% else %>
              <p id='post-♥️'>💔<%= comment.likes %></p>
            <% end %>
          </div>
          <% end %>
            <%= link_to 'Delete Post', post_path(post), method: :delete, data:{ confirm: "Are you sure?"}, class:"del-danger" %>
          
        </div>



    </section>
  <% end %>
</section>