<% if flash[:notice] %>
  <div id='notice'>
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:emptymessage]  %>
  <div id='info'>
    <%= flash[:emptymessage] %>
  </div>
<% end %>

<% if flash[:emptycomment]  %>
  <div id='info'>
    <%= flash[:emptycomment] %>
  </div>
<% end %>

<% if flash[:loggedout]  %>
  <div id='notice'>
    <%= flash[:loggedout] %>
  </div>
<% end %>

<% if flash[:invalid] %>
  <div id='alert'>
    <%= flash[:invalid]  %>
  </div>
<% end %>