<nav class='bar-box'>
  <div class="some-collapse-navbar">
    <li class='logo-li'>
      <%= link_to image_tag('JF-Ace-Spades.png', :class => 'logo'), posts_path %>
    </li>
    <% if logged_in? %>
      <li class="li-box">
        <%= link_to "Feed", posts_path %>
      </li>
      <li class="li-box">
        <%= link_to "New Post", new_post_path %>
      </li>
      <li class="li-box">
        <%= link_to "Log Out", logout_path, method: :delete %>
      </li>
        <p id='vp'>Visit Profile</p>
        <%= link_to image_tag(user_avatar(current_user.id), :class => 'profile-img-nav'), username_path(current_user[:username]) %> 
      <li class="li-box">
        <form action="/search">
          <input class="seach-bar" name="q" type="search" placeholder="Search" required=true>
          <button class="search-btn" type="submit">Search</button>
        </form>
      </li>
      
    <% else %>
      <li class="li-box">
        <%= link_to "Log In", login_path %>
      </li>
      <li class="li-box">
        <%= link_to "Sign Up", signup_path %>
      </li>
    <% end %>
  </div>
</nav>
