<% @list_posts.each do |post| %>
  <p><%= User.find(post.user_id).username %></p>
  <p><%= post.message %></p>
  <%= link_to image_tag('likebutton.png', width: 14, height: 14), post, method: 'patch' %>
  <% if post.likes > 0 %>
    + <%= post.likes %>
  <% elsif post.likes == 0 %>
    <%= post.likes %>
  <% elsif post.likes < 0 %>
   - <%= post.likes %>
  <br>
  <% end %>
  <br>
  <%= link_to "Delete", post_path(post), method: :delete, data:{ confirm: "Are you sure?"}, class:"btn btn-danger"%> 
  <br>
  <%= link_to 'Comments', post_path(post)%>
  
<% end %>

<br>
<br>
<br>
<br>
<%= "You are currently logged in as #{current_user.username}" %>

