<% @list_posts.each do |post| %>
  <div class='profile-image'>
    <%= image_tag(user_avatar(post.user_id), :class => 'profile-img' ) %>
    <%= User.find(post.user_id).username %>
  </div>
  
  <p><%= post.message %></p>
  <%= image_tag(post.post_image, width: 200) if post.post_image.attached? %>
  <%= link_to 'Like', post, method: 'patch' %>
  <% if post.likes > 0 %>
    Likes: <%= post.likes %>
  <br>
  <% end %>
  <br>
  <%= link_to 'Comments', post_path(post)%>
<% end %>
