<%= form_for @new_post do |form| %>
  <%= form.label :message %>
  <%= form.text_field :message %>
  <%= form.hidden_field :user_id, value: @user_id%>
  <br>
  <%= form.submit "Submit" %>
<% end %>

<% @list_posts.each do |post| %>
  <p><%= post.user_id %></p>
  <p><%= post.message %></p>
<% end %>

<!--
<%= session[:username].inspect %>
<%= @user_id %>
-->