<%= form_for @new_post do |form| %>
  <%= form.label :message %>
  <%= form.text_field :message %>
  <%= form.hidden_field :user_id, value: current_user.id%>
  <br>
  <%= form.submit "Submit" %>
<% end %>

<% @list_posts.each do |post| %>
  <p><%= User.find(post.user_id).username %></p>
  <p><%= post.message %></p>
<% end %>

<%= "You are currently logged in as #{current_user.username}" %>

<%= link_to 'Logout', logout_path, method: :delete %>


<%= "You are currently logged in as #{current_user.username}" %>

<%= link_to 'Logout', logout_path, method: :delete %>


