
  <p><%= @post.message %></p>
  <p>
  <strong>Comments:</strong>
  <br><br>
  <% @post.comments.each do |comment| %>
  User <%= comment.user_id %>:
  <br>
  <%= comment.message %>
  <%= button_to("Like", post_comment_path(comment), method: 'patch') %>
  <br>
  <% if comment.likes %>
  Likes: <%= comment.likes %>
  <br>
  <% end %>
  <% end %>
  </p>

<div>
<%= form_for([@post, @post.comments.build]) do |form| %>
  <%= form.label 'Add comment:' %>
  <%= form.text_field :message %>
  <%= form.hidden_field :user_id, value: 2 %> <%# refactor with user_id from session %>
  <%= form.submit "Submit" %>
<% end %>
</div>

