<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- TinyMCE TextArea -->
    <script src="https://cdn.tiny.cloud/1/g4pfom5pzp5fn8kg1hmtjw1hl0zluzstgorojbaozsycqqg0/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
    tinymce.init({
        selector: "#mytextarea",
        plugins: "emoticons autoresize",
        toolbar: "emoticons",
        width: 250,
        // align: center,
        // editor_css : 'path_to_css'.'/application.css',
        content_css: ['<strong>style.scss</strong>'],
        toolbar_location: "bottom",
        statusbar: false,
        menubar: false
      });
    </script>

    <%= stylesheet_link_tag 'style', media: 'all',
    'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <title>♠️ Acebook</title>
  </head>
  <body>
    <%= render 'shared/header' %>
    <section id='title=box'>
      <%= image_tag('ace.png', :class => 'ace-logo') %>
    </section>
    <section id='box'>
        <%= render partial: "shared/flash" %>
        <%= yield %>
    </section>
  </body>
</html>
